# IDE Stuff
.idea/
.vs/
.vscode/

# CMake stuff
build/
cmake-build-*/

# DevContainer
.devcontainer/

# Static Code Analysis related files
.PVS-Studio/
cppcheck/
cppcheck.xml
cppcheck.txt
cppcheck.html
clang-tidy/
clang-tidy.txt
clang-tidy.html
clang-tidy.xml